{% extends "flower_shop/base.html" %}

{% block title %}EVERGREEN Кошик{% endblock %}

{% block content %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Кошик</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'index' %}">Головна</a></li>
						<li class="active">кошик</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="page-wrapper">
	<div class="cart shopping">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="block">
						<div class="product-list">
							<form method="post">
								<table class="table">
									<thead>
										<tr>
											<th>Фото</th>
											<th>Назва</th>
											<th>Ціна</th>
											<th>Кількість</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="cart-table-body">
										<!-- JS вставить товари -->
									</tbody>
								</table>
								<a href="{% url 'checkout' %}" class="btn btn-main pull-right">Оформити замовлення</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}