{% extends "flower_shop/worker_base.html" %}
{% load static %}

{% block worker_title %}Панель Працівника теплиць{% endblock %}
{% block worker_role %}Працівник теплиць{% endblock %}

{% block worker_content %}
<h2 class="text-center">🌿 Панель Працівника теплиць</h2>


<form id="planting-form">
  <h4>🌱 Посадка квітів + 💧 Добриво</h4>
  <div class="row">
    <div class="col-md-4">
      <label>Рід квітки</label>
      <select id="genus-select" class="form-control" required>
        <option value="" disabled selected hidden>Оберіть рід...</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Вид квітки</label>
      <select id="species-select" class="form-control" required disabled>
        <option value="" disabled selected hidden>Оберіть вид...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label>Кількість квітів</label>
      <input type="number" id="planting-count" class="form-control form-group mb-2" min="1" required>
    </div>
    <div class="col-md-2">
      <label>Добриво</label>
      <select id="fertilizer-select" class="form-control form-group mb-2" required disabled>
        <option value="">Оберіть добриво</option>
      </select>
    </div>
    <div class="col-md-2">
      <label>Кількість добрива</label>
      <input type="number" id="fertilizer-amount" class="form-control form-group mb-2" min="1" required>
    </div>
  </div>
  <button class="btn btn-success mt-3">🌿 Посадити</button>
</form>

<hr class="my-5">

<h4 class="mt-5">✅ Відмітити готовність рослин</h4>
<table class="table">
  <thead>
    <tr>
      <th>Рід</th>
      <th>Вид</th>
      <th>Кількість</th>
      <th>Дата посадки</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody id="ready-plants-table">
    <!-- Динамічний список -->
  </tbody>
</table>


<h4 class="mt-5">🗑️ Списання рослин</h4>
<table class="table">
  <thead>
    <tr>
      <th>Рід</th>
      <th>Вид</th>
      <th>Кількість</th>
      <th>Дата посадки</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody id="remove-plants-table">
    <!-- Динамічний список -->
  </tbody>
</table>
{% endblock %}

{% block worker_scripts %}
<script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/greenhouse_panel.js' %}" defer></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}