{% extends "flower_shop/base.html" %}

{% block title %}EVERGREEN{% endblock %}

{% block content %}
	<section class="single-product">
    <div class="container">
		<div class="row">
				<div class="col-md-6">
					<ol class="breadcrumb">
						<li><a href="{% url 'index' %}">Головна</a></li>
						<li><a href="{% url 'shop' %}">Магазин</a></li>
						<li class="active">Деталі продукту</li>
					</ol>
				</div>
			</div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider" style="display: flex; justify-content: center; align-items: center; height: 500px; overflow: hidden;">
                    <img class="img-responsive"
                         src="https://{{ product.photo_link }}"
                         alt="{{ product.species_name }}"
                         style="max-width: 100%; max-height: 100%; object-fit: contain; display: block;" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{ product.species_name }} ({{ product.genus_name }})</h2>
                    <p class="product-price">{{ product.price }} грн</p>
                    <p>Доступно: {{ product.available_amount }}</p>
                    <div class="product-quantity">
                        <span>Кількість:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="number" value="1" min="1" name="product-quantity">
                        </div>
                    </div>
                    <button type="button" class="btn btn-main mt-20" id="add-to-cart-btn">Додати до кошика</button>
                </div>
                <div class="tabCommon mt-20">
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Інструкція з догляду</h4>
                            <p>
                                {{ product.care_instructions|linebreaksbr }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}